/*font-size 0%.. si o si tengo que poner font-size en las oraciones xq sino no figura nada en la pagina*/


body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-image: linear-gradient(to right top, #3d7fe1, #0093ea, #00a6ee, #00b7ee, #12c7eb);
  
  }
  
  
  .container__grid {
  
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: .5fr 2.3fr .2fr;
    grid-template-areas: "header"
      "main"
      "footer";
  
  
  }
  
  /*estilos del header*/
  .cabecera {
    grid-area: header;
    /*border: solid red;*/
    /* margin-left: 2%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    /*width: 100%;
      height: 10%;*/
  
  }
  
  /* justify-content si el contenedor esta en forma de fila // aling items si esta en forma d colunma.// si quiero centrar en los dos sentidos usamos los dos + center */
  #logo:hover {
    /*display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /*width: 100px;
      height: 100px;*/
    /* margin-left: 5%;
      margin-top: 0%;*/
    padding: .5%;
    /* border: solid rgb(4, 0, 255);*/
    /*width: 100px;
      height: 100px;
      float: inline-end;*/
    opacity: 20%;
  
  
  
  }
  
  .cabecera__nav a:hover {
    /*display: flex;
      flex-direction:row;
      justify-content: center;
      align-items:center;*/
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font: size 14px;
    gap: 2%;
    /*border: solid red;*/
    text-align: right;
    /*position: absolute;
      /*background-color: rgb(32, 207, 199);*/
    /* font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      font: size 14px;
      display: inline-block;
      margin-left: 50%;
      margin-top: 4%;*/
  
    background-color: rgb(132, 179, 241);
  }
  
  
  
  /*CONTACTO*/
  main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "contacto mapa__main"
      "preguntas preguntas";
  }
  
  
  
  
  .contacto {
    grid-area: contacto;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    font-weight: bolder;
    text-decoration: underline;
    font-size: medium;
  }
  
  .mapa__main {
    grid-area: mapa__main;
  }
  
  .preguntas {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "preguntas__1 preguntas__3 preguntas__2";
    grid-area: preguntas;
    font-size: large;
  
  }
  
  .preguntas_1 {
    grid-area: preguntas_1;
  }
  
  .preguntas_2 {
    grid-area: preguntas_2;
  }
  
  .preguntas__3 {
    grid-area: preguntas__3;
  }
  
  
  
  /*estilos del footer*/
  footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    margin-top: 0%;
  
    justify-content: space-evenly;
    width: 99%;
  }
  
  .licenciada {
    margin-left: 3%;
    font-size: 1em;
    font-style: oblique;
    /*border: 1px solid rgb(133, 206, 7);*/
    text-align: left;
    /* border: 1px solid rgb(133, 206, 7);*/
  
    padding: 0.5%;
    width: 40%
  }
  
  .mapa {
    /* border: 1px solid rgb(133, 206, 7);*/
    text-align: right;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5%;
    width: 40%;
    margin-right: 3%;
  }
  
  .mapa__dibujo {
    width: auto;
  
  }
  
  .redessociales {
    display: flex;
    flex-direction: column;
    /* margin-left: 0%;
      margin-top: 0%;*/
    /*border: 1px solid rgb(133, 206, 7);*/
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
  
  }
  
  
  
  /*INDEX*/
  /*main {
    margin-left: 1%;
  
  
  }*/
  
  .index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "principal"
      "footer";
  }
  
  
  
  
  
  .principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "definicion"
      "posturas";
    grid-area: principal;
  }
  
  .definicion {
    grid-area: definicion;
  
  }
  
  /*.principal__imagen:hover {
    width: 100wh;
    padding: 1%;
    margin-left: 10%;
    
    transform:scale(2,1);
    transition:all 5s;
  
  
  }*/
  
  .principal__imagen__def {
    width: 100vw;
  
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif text-align center
  }
  
  .posturas {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    grid-area: posturas;
  
  }
  
  .posturas__rpg {
    margin-left: 30%;
    font-size: large;
    font-style: oblique;
    font-weight: bolder;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: rgb(7, 3, 10);
    margin-bottom: 2%;
  }
  
  .posturas__casos {
  
    display: flex;
    flex-direction: row;
  
  
  }
  
  .posturas__casos__1,
  .posturas__casos__2,
  .posturas__casos__3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bolder;
    padding: 0.166%;
  
  }
  
  .posturas__casos__1 img,
  .posturas__casos__2 img,
  .posturas__casos__3 img {
    width: 80%;
    height: auto;
    display: block;
    padding: 2%;
  
  
  
  }
  
  .posturas__casos__1 h2,
  .posturas__casos__2 h2,
  .posturas__casos__3 h2 {
    font-size: larger;
    font-style: oblique;
    font-size: 1.5 em;
  }
  
  
  
  
  
  
  
  
  
  
  
  /*QUE ES RPG*/
  
  .queesrpg {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 2.3fr 0.2fr;
    grid-template-areas:
      "header"
      "queesrpg__1"
      "footer";
    /*border: solid red;*/
  }
  
  .queesrpg__1 {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    /*  border: solid red;*/
  }
  
  .definicion {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    /*border: solid red;*/
  }
  
  .img__philippe {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    /*border: solid rgb(4, 0, 255);*/
  
  }
  
  
  .img__philippe__def {
    display: flex;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 50px;
    /*border: solid rgb(0, 238, 255);*/
  }
  
  
  .terapias {
    display: flex;
    /* text-decoration: underline;*/
    margin: 1%;
    /* padding-left: 50px;
      padding-top: 50px;*/
    font-size: larger;
    /*border: solid red;*/
  }
  
  /*RECOMENDACIONES*/
  .recomendaciones {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr 2.3fr 0.2fr;
    grid-template-areas:
      "header"
      "recomendaciones"
      "footer";
    border: solid red 1px;
  }
  
  .recomendaciones1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.4fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo titulo titulo"
      "img__1 img__2 img__3"
      "img__4 img__5 img__6";
    border: solid red 1px;
    height: 80vh;
  }
  
  .titulo {
    grid-area: titulo;
    border: solid red 1px;
  }
  
  .img__1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto1"
      "def1";
    grid-area: img__1;
    border: solid red 1px;
  }
  
  .foto1 {
    grid-area: foto1;
    border: solid red 1px;
  }
  
  .def1 {
    grid-area: def1;
    border: solid red 1px;
  }
  
  .img__2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto2"
      "def2";
    grid-area: img__2;
    border: solid red 1px;
  }
  
  .foto2 {
    grid-area: foto2;
    border: solid red 1px;
  }
  
  .def2 {
    grid-area: def2;
    border: solid red 1px;
  }
  
  .img__3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto3"
      "def3";
    grid-area: img__3;
    border: solid red 1px;
  }
  
  .foto3 {
    grid-area: foto3;
    border: solid red 1px;
  }
  
  .def3 {
    grid-area: def3;
    border: solid red 1px;
  }
  
  .img__4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto4"
      "def4";
    grid-area: img__4;
    border: solid red 1px;
  }
  
  .foto4 {
    grid-area: foto4;
    border: solid red 1px;
  }
  
  .def4 {
    grid-area: def4;
    border: solid red 1px;
  }
  
  .img__5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto5"
      "def5";
    grid-area: img__5;
    border: solid red 1px;
  }
  
  .foto5 {
    grid-area: foto5;
    border: solid red 1px;
  }
  
  .def5 {
    grid-area: def5;
    border: solid red 1px;
  }
  
  .img__6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.4fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "foto6"
      "def6";
    grid-area: img__6;
    border: solid red 1px;
  }
  
  .foto6 {
    grid-area: foto6;
    border: solid red 1px;
  }
  
  .def6 {
    grid-area: def6;
    border: solid red 1px;
  }
  
  
  
  
  
  
  
  
  @media screen and (max-width: 400px)
  
  /*mobile*/
    {
    .cabecera {
      flex-direction: column;
    }
  
    .cabecera__nav {
      font: size 5px;
      text-align: left;
      display: flex;
      flex-direction: column;
    }
  
    .principal__imagen {
      width: 100wh;
  
    }
  
    .principal__imagen__def {
      width: 100wh;
    }
  
    .posturas__casos {
      flex-direction: column;
    }
  
    .posturas__casos__1,
    .posturas__casos__2,
    .posturas__casos__3 {
      flex-direction: column;
    }
  
  
  
    footer {
  
      flex-direction: column;
  
    }
  
  
  
    .redessociales {
  
      flex-direction: row;
  
  
      align-items: right;
      justify-content: space-evenly;
      width: auto;
    }
  
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 0px 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "contacto"
        "mapa__main"
        "preguntas";
    }
  
  }
  
  @media screen and (max-width: 900px) {
  
    .principal__imagen {
      width: 100%;
      align-items: center;
  
  
    }
  
    .principal__imagen__def {
      width: 80%;
      align-items: center;
    }
  
  }