@import url('https://fonts.googleapis.com/css2? family= Open+Sans & family= Roboto:ital,wght@0,100;1,300;1,400 & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#logo:hover {

  padding: .5%;
  opacity: 20%;


}


.nombre {
  font-style: italic;
  font-size: x-large;
  text-decoration: underline;
}

.imagen__profesional {
   box-shadow: 3px 3px 0px;
   margin-left: auto;
  
}

.nav-color{
  color:rgb(68, 85, 97)
}

.nav-zoom:hover{
  transition: transform 2s;
  transform: scale(1.3);
}